---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>{frontmatter.pubDate.toString().slice(0,10)}</p>

  <p>Written by: {frontmatter.author}</p>

  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

  <div class="tag-container">
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>

  <slot />
</BaseLayout>
<style>
  .tag-container{
    display: flex;
    align-items: center;
    overflow-x: auto;
  }

  .tag {
    font-size: 1.15em;
    border: dotted 1px #a1a1a1;
    background-color: #F8FCFD;
    margin: 0.25em;
    padding: .5em 1em;
    border-radius: .5em;
    font-weight: bold;
    flex-shrink: 0;
  }
  a {
    color: #00539F;
    text-decoration: none;
  }
</style>