---
import BaseLayout from './BaseLayout.astro';
import '../styles/blog.css';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <hr/>
    <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <div class="tag-container">Tags: {frontmatter.tags.map((tags) => <p class="tag">{tags}</p>)}</div>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <slot />
</BaseLayout>